body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: black;
}

#head{
    color: white;
    margin-top: 5px;
}

canvas {
    background-color: black;
    display: block;
    margin: 0 auto;
    border: 2px solid white;
}

#ptag{
    color: white;
}

#displayscore{
    color: white;
    font-size: 20px;
}

